# CEM - Cluster Elasticity Manager 
# Copyright (C) 2011 - GRyCAP - Universitat Politecnica de Valencia
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

[cem]
IM_CREDENTIALS = XXXXXXXXX
IM_REST_ENDPOINT = https://servproject.i3m.upv.es:8800
IM_INFRASTRUCTURE_ID = XXXXXXXXX
WN_RADL_FILE = XXXXXXXXX

DB = XXXXXXXXX

CEM_PATH = '/etc/cem'
CEM_API_REST_HOST = 0.0.0.0
CEM_API_REST_PORT = 10000

CEM_MAX_SLOTS_NODE = XXXXXXXXX
ALLOW_SLOTS_INACTIVE_TIME_SECONDS = 600

CEM_MONITORING_PERIOD = 15
CEM_MANAGER_PERIOD = 30

MIN_RESOURCES_STOPPED = 0
MIN_RESOURCES_IDLE = 0
RESOURCE_IDLE_TIME_SECONDS = 1800

REST_API_SECRET = XXXXXXXXXXXXXX

IPTREST_RANGE_SOURCE_PORTS = 9000,9050
IPTREST_HOST = localhost
IPTREST_PORT = 8080
IPTREST_ENABLED = false

PUBLIC_IP = XXXXXXXXX
RDP_DEST_PORT = 3389

[log]
LOG_CONF_FILE = /etc/cem/logging.cfg
LOG_LEVEL = DEBUG
LOG_FILE = /var/log/cem/cem.log
LOG_FILE_MAX_SIZE = 10485760

[cem_agent]
REST_AGENT_API_SECRET = XXXXXXXXXXX
